@import '../shared/general.component.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: relative;

    .header__logo--box {
        display: flex;
        align-items: center;
        gap: 2rem;
        
        .header__logo--img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
            
        }

        .header__logo--text {
            font-size: 2rem;
        }
    }


    .header__navi--group {
        display: flex;
        gap: 3rem;
        font-size: 1.8rem;

        .header__navi--group--list {
            list-style-type: none;

            .header__navi--btn {
                text-decoration: none;
                // color: $primaryLinks-Color;
            }

            .cta--btn {
                @include ctaBtn;

                &:hover,
                &:active {
                    background-color: $primaryCtaButton-hoverColor;
                }
            }
        }
        
    }
}
.darkMode {
    @include darkTheme;
 }
 
 .lightMode {
   @include lightTheme;
 }
 
 .p-dialog{
    background-color: red;
    padding: 2rem;
    text-align: center;
    height: 300px;
    width: 30vw !important;
    align-items: center;
    gap: 3rem;
 }

 .p-dialog-title {
    font-size: 3rem;
 }

 .p-dialog-content {
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: 1.6px;
 }

 .p-dialog-titlebar-icon {
    background-color: blue;
 }







 @media only screen and (max-width:720px) {
    .header__navi {
        display: none;
    }

 }