<div class="header darkMode" [ngClass]="{'lightMode': lightMode === true}">
    <div class="header__logo--box">
        <img class="header__logo--img" src="/assets/icon.jpg" alt="">
        <p class="header__logo--text">Iulian Pobirci</p>
    </div>
<div class="header__navi">
    <ul class="header__navi--group">
        <li class="header__navi--group--list"><a href="https://www.linkedin.com/in/iulian-pobirci-277990258/" target="_blank" class="header__navi--btn">LinkedIn</a></li>
        <li class="header__navi--group--list"><a  class="header__navi--btn cta--btn" (click)="onShowModal()" >Talk with me</a></li>
    </ul>
</div>
</div>