<div class="container">
    <div class="about-section">
        <div class="author-box">
            <img src="assets/person2.JPG" alt="author-photo" class="author-photo">
            <h2>Hi, I am Iulian, nice to meet you!</h2>
        </div>
        <div class="about-acordeon">
           <app-accordion></app-accordion>
        </div>
        <div class="about-acordeon-mobile">
           <app-mobile-testimonial></app-mobile-testimonial>
        </div>
        <app-footer></app-footer>
    </div>
</div>