<div class="content">
    <div class="section-about">
       
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, autem magnam. Nulla ab aliquam incidunt, provident quidem asperiores maiores omnis perferendis exercitationem, voluptatem odit! Quae velit ducimus soluta magni deleniti?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, autem magnam. Nulla ab aliquam incidunt, provident quidem asperiores maiores omnis perferendis exercitationem, voluptatem odit! Quae velit ducimus soluta magni deleniti?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, autem magnam. Nulla ab aliquam incidunt, provident quidem asperiores maiores omnis perferendis exercitationem, voluptatem odit! Quae velit ducimus soluta magni deleniti?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, autem magnam. Nulla ab aliquam incidunt, provident quidem asperiores maiores omnis perferendis exercitationem, voluptatem odit! Quae velit ducimus soluta magni deleniti?
</div>
</div>
