.container {
    height: 100%;

    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 6rem;
        gap: 2rem;
        
    }
}

@media only screen and (max-width:720px) {
    .content {
        justify-content: space-between !important;
        padding: 2rem !important;
    }
}