<div class="content darkMode" [ngClass]="{'lightMode': lightMode === true}">
    <div class="header">
        <div class="header-text">
            <h2>A thought to take into account if you think of contacting me</h2>
            <p class="content-text">
                I am a highly motivated individual with a strong understanding of management and leadership.
                I am aware that any company who hires me as a junior will initially consume resources, however,
                I am grateful for this opportunity and will do my best to quickly adapt and perform my job in a professional manner. 
                I am eager to actively participate in the day-to-day work and prove my worth as a valuable member of the team.
            </p>
        </div>
    </div>
        <div class="content-contact">
            <div class="form" >
                <form class="contact-form">
                    <label>Name</label>
                    <input type="text">
                    <label>Email</label>
                    <input type="text">
                    <label>Message</label>
                    <textarea name="" id=""  rows="5"></textarea>
                </form>
            </div>
            <div class="contact-info">
                <div class="hero-info">
                    <h2 class="contact contact-header">Contact Information</h2>
                    <p class="contact  el-name">
                        <i class="pi pi-user"></i>
                        Iulian Pobirci</p>
                    <p class="contact contact-el el-link">
                        <a href="tel:0773328977" id="tel"><i class="pi pi-phone"></i> 0773-328-977
                        </a>
                    </p>
                    <p class="contact contact-el el-link">
                        <a href = "mailto: iulianpob@gmail.com" id="email"><i class="pi pi-envelope"></i> iulianpob@gmail.com
                        </a>
                    </p>
                    <p class="contact contact-el el-location">
                        <i class="pi pi-map-marker"></i>
                        Cluj-Napoca, Romania
                    </p>
                </div>
                <button class="btn btn-modal">Send a message</button>
            </div>
        </div>
</div>