
<div class="content">
    <div class="grid-template-2col">
    <div class="alert-modal">
        <div class="text-box">
            <h2 class="text__box--header">Contact Me</h2>
            <p class="text__box--desc">I am eager to gain practical experience through a junior or internship role. If you think my portfolio could be a good fit for your company, feel free to reach out. Leave me a message through this form and I will try to respond as soon as possible. Looking forward to the opportunity of working together.</p>
        </div>
        <div class="form" >
            <form class="contact-form">
                <label>Name</label>
                <input type="text">
                <label>Email</label>
                <input type="text">
                <label>Message</label>
                <textarea name="" id=""  rows="5"></textarea>
            </form>
        </div>
    </div>
    <div class="contact-info">
        <div class="hero-info">
            <h2 class="contact contact-header">Contact Information</h2>
            <p class="contact  el-name">
                <i class="pi pi-user"></i>
                Iulian Pobirci</p>
            <p class="contact contact-el el-link">
                <i class="pi pi-phone"></i>
                <a href="tel:0773328977" id="tel">0773-328-977
                </a>
            </p>
            <p class="contact contact-el el-link">
                <i class="pi pi-envelope"></i>
                <a href = "mailto: iulianpob@gmail.com" id="email">iulianpob@gmail.com
                </a>
            </p>
            <p class="contact contact-el el-location">
                <i class="pi pi-map-marker"></i>
                Cluj-Napoca, Romania
            </p>
        </div>
        <button class="btn btn-modal">Send a message</button>
    </div>
    <button class="close-modal" (click)="onCloseModal()" ><i class="pi pi-times"></i></button>
</div>
</div>
