@import 'shared/general.component.scss';


.container {
    height: 100vh;
}



.header {
    @include darkThemePrimary;
    grid-column: 1 / span 3;
    height: 100px;
     
    
}

.aside {
    @include darkThemePrimary;
}


.darkMode {
    @include darkThemeContent;
}

.lightMode {
    @include lightThemeContent;
    @include borderLightTheme(border-top);
}

.hideMenu {
    @include hideMenuGrid;
}

.showMenu {
    @include fullScreenGrid;
}

.content {
    position: relative;
}

.pi-chevron-left, .pi-chevron-right {
    font-size: 4rem; 
    color: $primaryLinks-Color;
}

.chevron {
    border-radius: 50%;
    background-color: $primaryCtaButton-Color;
    padding: 1rem;
    border: none;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(-50%,-50%);
    display: inline-block;
    // z-index: 2;
    
    
    &:hover {
        background-color: $primaryCtaButton-hoverColor;
    }
}


@media only screen and (max-width:720px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100wv;
    }

    .chevron {
        display: none;
    }

    .header {
        order: 1;
    }

    .content {
        order: 2;
        z-index: 0;
        border-bottom: 2px solid $primaryCtaButton-Color;
    }

    .aside {
        order: 3;
        position: sticky;
        bottom: 0;
        z-index: 1;
    }

}