@import 'shared/general.component.scss';


.container {
    //  height: 95vh;
    height: 100vh;
    @include fullScreenGrid;
}



.header {
    @include darkThemePrimary;
    // @include borderDarkTheme (border-bottom);
    grid-column: 1 / span 3;
    height: 100px;
     
    
}

.aside {
    @include darkThemePrimary;
}


.darkMode {
    @include darkThemeContent;
}

.lightMode {
    @include lightThemeContent;
    @include borderLightTheme(border-top);
}

