@import '../../shared/general.component.scss';

/* Cards */
.card-projects {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
  }
  
  .flip-card {
    width: 400px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    perspective: 1000px; 
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: rgb(99, 94, 200) 0px 25px 20px -20px;
    
  }
  
  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #645EC8; 
    color: black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  
  .flip-card-front h1 {
    font-size: 3rem;
  }
  
  .flip-card-front p {
    font-size: 1.6rem;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-size: cover;
    color: white;
    transform: rotateY(180deg);
  }
  
  .learn-more {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .project-img { 
    width: 400px;
    height: 250px;
    object-fit: cover;
  }

  .projects-mobile {
    display: none;
  }

  .header-screen {
    font-size: 3.2rem !important;
  }

  .desc-screen {
    font-size: 1.4rem !important ;
  }


  @media only screen and (max-width:720px)  {

    .flip-card {
      display: none;
    }

    .projects-mobile {
      display: block;
    }


    .project-img--mobile {
      width: 20rem;
      height: 10rem;
    }

    .project-header {
      display: inline-block;
      font-size: 3.2rem !important;
      margin: 2rem !important;
      border-bottom: 2px solid $primaryCtaButton-Color;
    }
    
    .project-description {
      font-size: 1.6rem;
      letter-spacing: 1.4px;
      line-height: 1.6;
      margin-bottom: 2rem;
    }
  }