@import '../shared/general.component.scss';

.aside {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    .menu {
        padding-left: 2rem;

        .menu__list--header {
            margin-bottom: 2rem;

        }
    }
    
    .list__group--item {
        list-style-type: none;
        margin-bottom: 2rem;
       
  
        .item-link:link, 
        .item-link:visited {
            text-decoration: none;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 2px;
            border: 1px solid transparent;

            &:hover,
            &:active, 
            &:focus {
                border: 1px solid transparent;
                background-color: $primaryCtaButton-Color;
                margin: -1rem;
                padding: 1rem 10rem 1rem 1rem;
                border-radius: 0 100px 100px 0;
            }

            
        }
    }
}


.aside__contol--btn {
    border: none;
    width: 95%;
    height: 4rem;
    margin: 0 0 3rem 1rem;
    cursor: pointer;
 

}

.aside__hide--btn {
    border: none;
    cursor: pointer;
}

.pi {
   font-size: 1.4rem;

}
.pi-eye-slash{
    font-size: 1.4rem;
    margin-right: 0.6rem;
    margin-left: 1rem;
}

// .pi-chevron-left, .pi-chevron-right {
//     font-size: 4rem; 
// }

// .chevron {
//     border-radius: 50%;
//     background-color: $primaryCtaButton-Color;
//     padding: 1rem;
//     border: none;
//     position: absolute;
//     top: 45%;
//     right: 0;
//     transform: translate(50%,-50%);
//     display: inline-block;
//     z-index: 2;
    
    
//     &:hover {
//         background-color: $primaryCtaButton-hoverColor;
//     }
// }

.hideAside {
    width: 50px;
    overflow: hidden;
}

.darkMode {
   @include darkTheme;
   @include borderDarkTheme(border-right);
}

.lightMode {
  @include lightTheme;
  @include borderLightTheme(border-right);
}

.mobile-screen--navi {
    display: none;
}

@media only screen and (max-width:720px) {
    .aside {
        height: 80px;
        margin: 1rem auto !important;
        border-right: none;
        padding: 1rem !important;
        border: none!important;
    }
    

    .menu__list--header {
        display: none;

    }

    .full-screen--navi {
        display: none;
    }

    .aside-footer {
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(-50%, 40%);

        .aside__contol--btn {
            background-color: transparent !important;
            border: none !important;
        }
    }

    .mobile-screen--navi {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }

    .list__group--item {
        padding-top: 1rem !important;
    }
    .pi {
        font-size: 3rem !important;
    }

    .item-link--mobile:hover,
    .item-link--mobile:active,
    .item-link--mobile:focus
     {
        .pi {
            color: $primaryCtaButton-Color;
        }
    }


}

  .pi {
    font-size: 2rem;
 }

