<div class="aside darkMode" [ngClass]="{'lightMode': lightMode === true, 'hideAside': showMenu === false}" >
    <div class="menu">
        <h2 class="menu__list--header">Menu</h2>
        <div class="menu__list--items" >
            <ul class="list-group" >
                <li class="list__group--item"><a routerLink="/" class="item-link"> Home</a></li>
                <li class="list__group--item"><a routerLink="about" class="item-link">About</a></li>
                <li class="list__group--item"><a routerLink="projects" class="item-link">Projects</a></li>
                <li class="list__group--item"><a routerLink="contact" class="item-link">Contact</a></li>
            </ul>
            <button class="btn btn-hambuger"><i class="pi pi-list"></i></button>
        <button class="btn btn-close"><i class="pi pi-times"></i></button>
        </div>
    </div>
    <div class="aside-footer">
        <div class="button-toggle--night" *ngIf="!lightMode">
        <button class="aside__contol--btn" (click)="onToggleMode()" >
                <i class="pi pi-moon"></i> 
            </button>
        </div>
        <div class="button-toggle--white" *ngIf="lightMode">
            <button class="aside__contol--btn" (click)="onToggleMode()">
                <i class="pi pi-sun"></i>
            </button>
        </div>
    </div>
</div>
