<div class="aside">
    <div class="menu">
        <h2 class="menu__list--header">Menu</h2>
        <div class="menu__list--items">
            <ul class="list-group">
                <li class="list__group--item"><a href="#" class="item-link">Home</a></li>
                <li class="list__group--item"><a href="#" class="item-link">About</a></li>
                <li class="list__group--item"><a routerLink="projects" class="item-link">Projects</a></li>
                <li class="list__group--item"><a href="home" class="item-link">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="aside-footer">
        <div class="button-toggle--night" *ngIf="!lightMode">
        <button class="aside__contol--btn" (click)="onToggleMode()" >
                <i class="pi pi-moon"></i> 
            </button>
        </div>
        <div class="button-toggle--white" *ngIf="lightMode">
            <button class="aside__contol--btn" (click)="onToggleMode()">
                <i class="pi pi-sun"></i>
            </button>
        </div>

        <button class="aside__hide--btn">
            <i class="pi pi-eye-slash">
            </i>
            Hide Sidebar
        </button>
    </div>
</div>
