<div class="container">
    <!-- <div class="container-elements"> -->
        <div class="content">
            <div class="image-box">
                <img src="assets/person.jpg" alt="author-photo" class="author-photo">
        </div>
        <div class="intro-box">
            <h2 class="intro-header">A brief intro in my work</h2>
            <p class="intro-desc">With everything I have included in this portfolio I hope it will bring us together for a discussion to be part of the development of your project. I am eager to contribute my skills that will improve daily to create successful and impactful projects for you</p>
            <button class="intro-btn" routerLink="about">See More</button>
        </div>
    </div>
</div>